<?xml version="1.0"?>
<!--
/**
 * @author    Mudassar Iqbal <miqbal@dotcommerce.co>
 * @copyright Copyright (c) Dot Commerce
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DotCommerce_CronScheduler">
        <sequence>
            <module name="Magento_Cron"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>